.block{
    border: 2px solid;
    height: 100px;
    width: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
}

.board{
    
    padding: 20px;
    width: 500px;
    
    margin: auto;
    
}
.row{
    display: flex;
}